[submodule "ClientTemplate/Packages/CapsModsEntry"]
	path = ClientTemplate/Packages/CapsModsEntry
	url = ../CapsModsEntry.git
[submodule "ClientTemplate/Packages/CapsResManager"]
	path = ClientTemplate/Packages/CapsResManager
	url = ../CapsResManager.git
[submodule "ClientTemplate/Packages/CapsLua"]
	path = ClientTemplate/Packages/CapsLua
	url = ../CapsLua.git
[submodule "ClientTemplate/Packages/ReflectHelper"]
	path = ClientTemplate/Packages/ReflectHelper
	url = ../ReflectHelper.git
[submodule "ClientTemplate/Packages/CapsUpdate"]
	path = ClientTemplate/Packages/CapsUpdate
	url = ../CapsUpdate.git
[submodule "ClientTemplate/Packages/CapsMods"]
	path = ClientTemplate/Packages/CapsMods
	url = ../CapsMods.git
[submodule "ClientTemplate/Packages/CapsResManagerAB"]
	path = ClientTemplate/Packages/CapsResManagerAB
	url = ../CapsResManagerAB.git
