[submodule "ClientTemplate/Packages/CapsModsEntry"]
	path = ClientTemplate/Packages/CapsModsEntry
	url = ../CapsModsEntry.git
[submodule "ClientTemplate/Packages/CapsResManager"]
	path = ClientTemplate/Packages/CapsResManager
	url = ../CapsResManager.git
[submodule "ClientTemplate/Packages/CapsLua"]
	path = ClientTemplate/Packages/CapsLua
	url = ../CapsLua.git
[submodule "ClientTemplate/Packages/ReflectHelper"]
	path = ClientTemplate/Packages/ReflectHelper
	url = ../ReflectHelper.git
[submodule "ClientTemplate/Packages/CapsUpdate"]
	path = ClientTemplate/Packages/CapsUpdate
	url = ../CapsUpdate.git
[submodule "ClientTemplate/Packages/CapsMods"]
	path = ClientTemplate/Packages/CapsMods
	url = ../CapsMods.git
[submodule "ClientTemplate/Packages/CapsResManagerAB"]
	path = ClientTemplate/Packages/CapsResManagerAB
	url = ../CapsResManagerAB.git
[submodule "ClientTemplate/Packages/AsyncExtensions"]
	path = ClientTemplate/Packages/AsyncExtensions
	url = ../AsyncExtensions.git
[submodule "ClientTemplate/Packages/CapsAtlasLoader"]
	path = ClientTemplate/Packages/CapsAtlasLoader
	url = ../CapsAtlasLoader.git
[submodule "ClientTemplate/Packages/CapsMVC"]
	path = ClientTemplate/Packages/CapsMVC
	url = ../CapsMVC.git
[submodule "ClientTemplate/Packages/CapsNetwork"]
	path = ClientTemplate/Packages/CapsNetwork
	url = ../CapsNetwork.git
[submodule "ClientTemplate/Packages/CapsReplaceableFont"]
	path = ClientTemplate/Packages/CapsReplaceableFont
	url = ../CapsReplaceableFont.git
[submodule "ClientTemplate/Packages/CapsReplaceableSprite"]
	path = ClientTemplate/Packages/CapsReplaceableSprite
	url = ../CapsReplaceableSprite.git
[submodule "ClientTemplate/Packages/DynamicPrefab"]
	path = ClientTemplate/Packages/DynamicPrefab
	url = ../DynamicPrefab.git
